@font-face {
    font-family: laBelleAurore;
    src: url(../fonts/LaBelleAurore.ttf);
}

@font-face {
    font-family: freebooterscript;
    src: url(../fonts/freebooterscript.ttf);
}

@font-face {
    font-family: Cylburn;
    src: url(../fonts/Cylburn.ttf);
}

#header-names{
    font-family: Cylburn;
}

.section-text{
    font-family: Cylburn;
}